

*{
  box-sizing: border-box;
}
body {
   background-color: #333;
   font-family: sans-serif;
   font-size: 16px;
   font: Roboto;
 }
.container {
   margin: 0 auto;
   width: 375px;
   background-color: #d3d3d3;
}
.arrow-left {
  font-weight: normal;
  font-size: .6em;
  padding-top: 5px;
 }
nav {
   margin: 0 auto;
   padding: 10px 0 15px 15px;
   position: fixed;
   width: 375px;
   background-color: black;
 }
.restaurant-list {
  padding-top: 50px;
  position: static;
  width: 100%;

}
.location {
  padding: 15px 20px;
  border-bottom: 1px solid #808080;
}
.location:hover {
  background-color: #A9A9A9;
}
.content h1 {
  color: black;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.75em;
	position: static;
	width: auto;

}
.content h3 {
  font-size: .75em;
	position: static;
	float: left;
	width: auto;

}
.arrow {
  font-size: .6em;
  position: relative;
  float: right;
	bottom: 25px;
	width: auto;
	 }
